# Hide IDE fiels
*.idea
.idea/
.bsp/
.bloop/
.metals/
.vscode/

# sbt stuff
project/target
project/project

# Don't push Scala build directories
js/target
jvm/target
shared/target
shared/.js/target
shared/.jvm/target
css/target
css/.js/target
css/.jvm/target
css-renderer/target
/target

# Ignore custom configuration files
/application.conf
all_projects_list.xml
/web
/conf
.env
*.jks
*.patch
*.db

# Ignore .gtm folder
/.gtm/

# Deployment Files
/jvm/src/main/resources/web-root/boinc-webmanager-jsdeps.min.js.gz
/jvm/src/main/resources/web-root/boinc-webmanager-opt.js.gz
/jvm/src/main/resources/web-root/boinc-webmanager-jsdeps.min.js
/jvm/src/main/resources/web-root/boinc-webmanager-opt.js
