# Hide IntelliJ Files:
*.idea

# Don't push Scala build directories
js/target
jvm/target
shared/target
/target

# Ignore custom configuration files
application.conf
all_projects_list.xml
/web

# Ignore .gtm folder
/.gtm/

